.confirmButton{
    -fx-background-color: lightgreen;
    -fx-border-style: solid;
    -fx-border-color: lightgreen;
    -fx-border-width: 3px;
}
.confirmButton:hover{
    -fx-background-color: #d5ffbc;
    -fx-border-color: #d5ffbc;
}

.editInvButton{
    -fx-background-color: #ffaf6d;
    -fx-border-style: solid;
    -fx-border-color: #ffaf6d;
    -fx-border-width: 3px;
}
.editInvButton:hover{
    -fx-background-color: #ffc99e;
    -fx-border-color: #ffc99e;
}
.startLabel{
    -fx-background-color: #1d5ec6;
    -fx-min-height: 50px;
    -fx-text-fill: white;
}

.notFocusable{
    -fx-focus-color:transparent;
}
.editButton{
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-background-image: url('res/editbackground.png');
    -fx-background-size: cover;
    -fx-focus-color:blue;
}
.editButton:hover{
    -fx-background-image: url('res/editbackgroundHover.png');
}

.deleteButton{
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-background-image: url('res/deletebg.png');
    -fx-background-size: cover;
    -fx-focus-color:blue;
}
.deleteButton:hover{
    -fx-background-image: url('res/deletebghover.png');
}
.logoutButton{
    -fx-background-color: #ff413a;
    -fx-border-color: #ff413a;
}
.logoutButton:hover{
    -fx-background-color: #ff9f9b;
    -fx-border-color: #ff9f9b;

}
.loginBackground{
    -fx-background-image: url('res/dvzlogo.jpg');
    -fx-background-size: cover;
}
.table-view:focused{
    -fx-background-color: transparent;
}
.table-row-cell:odd{
    -fx-background-color: #e6f9ff;
    -fx-focus-color:transparent;
}
.table-row-cell:even{
    -fx-background-color:  #b5edff;
    -fx-focus-color:transparent;
}

.table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background ;
    -fx-table-cell-border-color: -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt ;
}